
<!doctype html>
<html lang="en" class=" ">
<head>
<style type="text/css">
.heading
{
 padding-top: 5px;
padding-right: 30px;
padding-bottom: 200px;
padding-left: 200px;
}
.left
{
  float: right;
  position: absolute;
  top: 8px;
  right: 200px;
  font-size: 18px;

}
a
{
 border-radius: 5px;
 background-color: #f44336;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

</style>

</head>
<body>

<h1 class="heading">NETFLIX</h1>
<div class="left">
<select name="lang">
<option value="eng">english</option>
<option value="hindi">hindi </option>
</select>
<a href=#>Sign In</a>
</div>
</body>